body {
  background-color: gray;
  font-family: sans-serif;
  font-size: 30px;
}

h1, h2 {
  color: darkblue;
  padding: 10px;
  font-weight: bold;
  border: 2px solid lightbrown;
  border-radius: 16px;
  text-align: justify;
}

h1 {
  font-family: cursive;
  text-align: center;
}

ul, li {
  list-style-type: none;
  color: lightgreen;
}

ul {
  text-align: center;
}

li {
  text-align: left;
  margin: 10px 30px;
}

p {
  color: lightgreen;
  text-align: center;
}

#Experience, #Connect {
  border: 5px groove blueaqua;
  text-align: justify;
  padding: 10px;
  margin-bottom: 25px;
  max-width: fit-content;
  max-height: 1500px;
}

#projects-list {
  display: flex;
  text-align: center;
  border: 5px dotted lightgreen;
  background-color: rgb(50, 52, 63);
  padding: 12px;
  margin: 0 auto;
  max-width: 575px;
}

#projects-list > li > a:link, a:visited {
  background-color:rgb(50, 52, 63);
  color: black;
  text-decoration: none;
}

.button {
  color: lightgreen;
  text-align: center;
  background: linear-gradient(rgb(32, 25, 20), rgb(100, 45, 250), rgb(32, 25, 20));
  border: 5px solid lightgreen;
  text-decoration: none;
  padding: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.name {
  color: darkblue;
  text-align: center;
  margin-top: 2rem;
  padding: 10px;
}

.navigation {
  text-align: center;
  padding: 25px;
  margin: 20px 50px;
  max-width: 1000px;
}

.container {
  text-align: center;
  padding: 12px;
  margin: 0 auto;
  border: 5px dotted lightgreen;
  background-color: rgb(50, 52, 63);
}

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-align: left;
}

a:active {
  text-decoration: underline;
  text-align: left;
}

@media(max-width: 1250px){
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }
  aside {
   float: left;
   margin: auto;
  }
  header {
    text-align: center;
    padding: 12px;
  }

  #Experience, #Connect {
    display: flex;
    border: 5px groove blueaqua;
    float: left;
    padding: 8px;
  }
}

@media(max-width: 1000px){
  body {
    background-color: grey;
    font-family: italic;
  }
  p {
    color: white;
    font-family: bold;
    padding: 25px;
  }
  h1 {
    text-align: left;
    color: white;
    font-family: cursive;
    padding: 25px;
    font-weight: light;
  }

  #Experience, #Connect {
    display: flex;
    border: 5px groove blueaqua;
    float: left;
    padding: 8px;
  }
}
